@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

*{
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        font-size: 22px;
        overflow-y: hidden;
        user-select: none;
}

@media (min-width : 1700px){
        *{
                font-size: 30px;
        }
}

@media (min-width : 601px) and (max-width : 1200px){
        *{
                font-size: 20px;
        }
}

@media (max-width : 600px){
        *{
                font-size: 18px;
                overflow-x: hidden;
        }

        .scrollable{
                overflow-y: scroll;
        }
}

.up-enter {
        opacity: 0;
        transform: translateY(200px);
}

.up-enter-active {
        opacity: 1;
        transform: translate(0);
        transition: opacity 300ms, transform 500ms;
}

.up-exit {
        opacity: 1;
        transform: translate(0);
}

.up-exit-active {
        opacity: 0;
        transition: opacity 300ms, transform 500ms;
}


.down-enter {
        opacity: 0;
        transform: translateY(-200px);
}

.down-enter-active {
        opacity: 1;
        transform: translate(0);
        transition: opacity 300ms, transform 500ms;
}

.down-exit {
        opacity: 1;
        transform: translate(0);
}

.down-exit-active {
        opacity: 0;
        transition: opacity 300ms, transform 500ms;
}